<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ityihang.zblog.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="cn.ityihang.zblog.entity.Blog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="poll_count" property="pollCount" jdbcType="BIGINT" />
    <result column="comment_count" property="commentCount" jdbcType="BIGINT" />
    <result column="read_count" property="readCount" jdbcType="BIGINT" />
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="BIT" />
    <result column="is_essence" property="isEssence" jdbcType="BIT" />
  </resultMap>

  <resultMap id="getBlogResult" type="cn.ityihang.zblog.entity.Blog" extends="BaseResultMap">
    <association property="blogDetail" javaType="cn.ityihang.zblog.entity.BlogDetail">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="blog_id" property="blogId" jdbcType="INTEGER" />
      <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    id, title, created_time, update_time, user_id, summary, poll_count, comment_count, 
    read_count, class_id, is_top, is_essence
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ityihang.zblog.entity.Blog" >
    insert into blog (id, title, created_time, 
      update_time, user_id, summary, 
      poll_count, comment_count, read_count, 
      class_id, is_top, is_essence)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{pollCount,jdbcType=BIGINT}, #{commentCount,jdbcType=BIGINT}, #{readCount,jdbcType=BIGINT}, 
      #{classId,jdbcType=INTEGER}, #{isTop,jdbcType=BIT}, #{isEssence,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.ityihang.zblog.entity.Blog" >
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="pollCount != null" >
        poll_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="readCount != null" >
        read_count,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="isEssence != null" >
        is_essence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="pollCount != null" >
        #{pollCount,jdbcType=BIGINT},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=BIGINT},
      </if>
      <if test="readCount != null" >
        #{readCount,jdbcType=BIGINT},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=BIT},
      </if>
      <if test="isEssence != null" >
        #{isEssence,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ityihang.zblog.entity.Blog" >
    update blog
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="pollCount != null" >
        poll_count = #{pollCount,jdbcType=BIGINT},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=BIGINT},
      </if>
      <if test="readCount != null" >
        read_count = #{readCount,jdbcType=BIGINT},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=BIT},
      </if>
      <if test="isEssence != null" >
        is_essence = #{isEssence,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ityihang.zblog.entity.Blog" >
    update blog
    set title = #{title,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      poll_count = #{pollCount,jdbcType=BIGINT},
      comment_count = #{commentCount,jdbcType=BIGINT},
      read_count = #{readCount,jdbcType=BIGINT},
      class_id = #{classId,jdbcType=INTEGER},
      is_top = #{isTop,jdbcType=BIT},
      is_essence = #{isEssence,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAllBlogs" resultType="cn.ityihang.zblog.entity.Blog">
    select
    <include refid="Base_Column_List" />
    from blog
  </select>

<!--  配置分页插件功能-->
  <select id="getBlogList" resultMap="getBlogResult">
    SELECT
    a.id,
    a.title,
    a.created_time,
    a.update_time,
    a.user_id,
    a.summary,
    a.poll_count,
    a.comment_count,
    a.read_count,
    a.class_id,
    a.is_top,
    a.is_essence,
    b.id,
    b.blog_id,
    b.content
    FROM
    blog a,
    blog_detail b
    WHERE b.blog_id = a.id
    <if test="page !=null and pageSize!=null">
      limit #{page},#{pageSize}
    </if>
</select>

  <delete id="deleteBlogBatchs">
    delete from blog
    where id IN (
    <foreach collection="ids" item="id" separator=",">
      #{id}
    </foreach>
    )
  </delete>

</mapper>